a.submit_button, input.submit_button {
   display: inline-block;
   min-width: 150px !important;
   height: 21px !important;
   line-height: 21px !important;
   margin: 0;
   padding: 0;

   vertical-align: middle;
   cursor: pointer;
   height: auto;
   font: bold 12px Arial, Helvetica;
   color: #8f5a0a;
   background-color: #ffb94b;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
   background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
   background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
   background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
   background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
   background-image: linear-gradient(top, #fddb6f, #ffb94b);
   white-space: nowrap;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fddb6f, endColorstr=#ffb94b);
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fddb6f, endColorstr=#ffb94b)";
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   text-shadow: 0 1px 0 rgba(255,255,255,0.5);
   -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
   -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
   box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
   border-width: 1px;
   border-style: solid;
   border-color: #d69e31 #e3a037 #d5982d #e3a037;
}
input.submit_button {
   min-width: 152px !important;
   height: 23px !important;
   line-height: 23px !important;
}
input.submit_button[disabled] {
   color: #AAA;
   background-color: #EEE;
   border-color: #AAA;
   font-weight: normal;
   background-image: initial;
   cursor: default;
   filter: none;
   ms-filter: none;
}
input.submit_button:focus {
   color: #573706;
   border-color: #a57a26 #a67528 #a67623 #a67528;
   background-color: #ffaf30;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcd35), to(#ffaf30));
   background-image: -webkit-linear-gradient(top, #ffcd35, #ffaf30);
   background-image: -moz-linear-gradient(top, #ffcd35, #ffaf30);
   background-image: -ms-linear-gradient(top, #ffcd35, #ffaf30);
   background-image: -o-linear-gradient(top, #ffcd35, #ffaf30);
   background-image: linear-gradient(top, #ffcd35, #ffaf30);
   box-shadow: 0 0 10px rgba(233,175,102,1);
}

.line0 {
   background-color: #F0F0F0;
}
.line1 {
   background-color: #E7E7E7;
}
.line0:hover, .line1:hover {
   background-color: #FFF;
}

form.formcreator_form {
   width: 950px;
   margin: 10px auto !important;
   display: block;
   position: relative;
   line-height: 1.4em;
}
#bloc > form.formcreator_form {
   width: 700px;
}

form.formcreator_form > h1 {
   text-align: center;
   font-weight: bold;
   font-size: 1.5em;
   text-decoration: underline;
   margin: 0 0 15px;
}

form.formcreator_form > .form_header {
   padding: 10px 15px;
}
form.formcreator_form > .refused_header, form.formcreator_form > .accepted_header {
   padding: 10px 15px;
   background: #EED0D0; /*#EEE;*/
   border-radius: 4px;
   box-shadow: 2px 2px 2px #CCC;
   margin: 0 0 10px;
}
form.formcreator_form > .refused_header > div, form.formcreator_form > .accepted_header > div {
   padding: 3px 10px;
   border-left: 5px solid #A00;
   color: #C00;
   font-style: italic;
   font-weight: bold;
   margin: 0 4px;
}
form.formcreator_form > .accepted_header {
   background: #C0DDC0; /*#EEE;*/
}
form.formcreator_form > .accepted_header > div {
   border-left: 5px solid #060;
   color: #060;
}

form.formcreator_form > .form_header, form.formcreator_form > .form_section {
   background: #EEE; /*#EEE;*/
   background: rgba(232, 232, 232, .8); /*#EEE;*/
   border-radius: 4px;
   box-shadow: 2px 2px 2px #CCC;
   margin: 0 0 10px;
}


form.formcreator_form > .form_header > h1 {
   font-size: 1.2em;
   margin: 0 0 10px;
}

form.formcreator_form > .form_section > h2 {
   background: #E1D39E;
   margin:  0 0 10px;
   border-radius: 4px 4px 0 0;
   padding: 5px 10px;
   border-bottom: 1px solid #FFF;
   box-shadow: 0px 2px 2px #CCC;
   text-align: center;
}

form.formcreator_form .form-group {
   padding: 5px 15px;
}

form.formcreator_form .form-group > label {
   display: block;
   font-size: 1.2em;
   float: left;
   width: 250px;
}
form.formcreator_form .form-group:after {
   content: '';
   display: block;
   clear: both;
}

form.formcreator_form .form-group.required > label {
   font-weight: bold;
}

form.formcreator_form .form-group .form_field {
   width: 650px;
   float: left;
   text-align: justify;
   word-wrap: break-word;
}
#bloc > form.formcreator_form .form-group .form_field {
   width: 415px;
}
form.formcreator_form .form-group .form_field .select2-container {
   width: 100% !important;
}


form.formcreator_form .description_field {
   border-left: 4px solid #999;
   margin: 10px 15px;
}

form.formcreator_form .form-group .form_field > input,
form.formcreator_form textarea,
form.formcreator_form select,
form.formcreator_form .form-group .form_field > input.hasDatepicker {
   background: #FFF;
   background: rgba(255, 255, 255, 0.7);
   border: 1px solid #999;
   border-radius: 3px;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.20);
   line-height: 18px;
   min-height: 24px;
   padding: 1px 10px;
   margin: 0;
   width: 660px;
   color: #333;
   font-size: 1.1em;
}
form.formcreator_form .form-group .form_field > input.hasDatepicker {
   width: 115px;
}
form.formcreator_form .form-group img {
   vertical-align: middle;
   width: 18px;
   height: 18px;
   margin: 4px;
}
form.formcreator_form .select2-container .select2-choice {
   height: 24px;
   padding: 1px 10px;
   line-height: 24px;
   width: 638px;
}
#bloc > form.formcreator_form .select2-container .select2-choice {
   width: 395px;
}
form.formcreator_form .select2-container .select2-choice > .select2-chosen {
   margin: 1px 0;
   line-height: 24px;
   color: #333;
   font-size: 1.1em;
}

form.formcreator_form textarea:focus,
form.formcreator_form select:focus,
form.formcreator_form .form-group .form_field > input:focus
{
   border-color: #66afe9;
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

form.formcreator_form input[type = checkbox]:focus + label,
form.formcreator_form input[type = radio]:focus + label,
form.formcreator_form input[type = file]:focus {
   color: #66afe9;
   color: rgba(102,175,233, 1);
   border-bottom: #66afe9 dotted 1px !important;
   border-bottom: rgba(102,175,233,.8) dotted 1px !important;
}

form.formcreator_form .form-group .form_field > input,
form.formcreator_form textarea {
   width: 638px;
   min-height: 24px;
}
form.formcreator_form .select2-container-multi .select2-choices  {
   width: 658px;
   min-height: 24px;
   background: #FFF;
   background: rgba(255, 255, 255, 0.7);
   border: 1px solid #999;
   border-radius: 3px;
}
#bloc > form.formcreator_form .select2-container-multi .select2-choices  {
   width: 415px;
}

form.formcreator_form .form-group option {
   background: none;
   border: none;
}
form.formcreator_form .form-group .form_field > input[type = file] {
   background: none;
   border: none;
   box-shadow: none;
   width: auto;
}
form.formcreator_form .form-group > .help-block {
   margin-left: 250px;
   font-size: 0.8em;
   color: #333;
   padding: 3px 0;
   font-style: italic;
   clear: both;
}
form.formcreator_form .form-group > .help-block p {
   margin: 0;
   padding: 3px 0;
}

#bloc > form.formcreator_form .form-group .form_field > input, #bloc > form.formcreator_form textarea {
   width: 395px;
}
#bloc > form.formcreator_form select {
   width: 417px;
}
#footer-login {
   position: relative !important;
   height: 30px;
   margin: 0 15px 0 0;
}

form.formcreator_form .liste input[type = text] {
   width: 100px;
}

form.formcreator_form .liste span > select {
   width: 534px;
}

#bloc > form.formcreator_form .liste input[type = text]  {
   width: 60px;
}
#bloc > form.formcreator_form .liste select  {
   width: 330px;
}

.form_description {
   display: none;
}
.form_description div {
   padding: 10px;
   background-color: #FFF;
   border-left: 5px solid #AAA;
   color: #333;
   font-style: italic;
   margin: 0 4px;
}
#div_show_condition_field, #div_show_condition_operator, #div_show_condition_value {
   float: left;
}
#div_show_condition_field .select2-container,
#div_show_condition_operator .select2-container {
   width: 95% !important;
   margin: 5px 0 0 !important;
}
#div_show_condition_value input {
   width: 100% !important;
   margin: 5px 0 0 5px !important;
   padding: 2px 5px !important;
}

#div_show_condition_field {
   width: 250px !important;
}
#div_show_condition_operator {
   width: 50px !important;
}
#div_show_condition_value {
   width:  400px !important;
}

/* jQuery UI Combobox*/
.custom-combobox {
   position: relative;
   display: inline-block;
}
.custom-combobox-toggle {
   position: absolute;
   top: 0;
   bottom: 0;
   margin-left: -1px;
   padding: 0;
}
.custom-combobox-input {
   margin: 0;
   padding: 5px 10px;
}
.custom-combobox .ui-state-default {
   background-color: #fff;
   background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
   background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
   background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
   background-image: linear-gradient(top, #fff 0%, #eee 50%);
}
.pq-select-multiple {
   width: 95% !important;
}

.select2-container + select {
   display: none !important;
}
