<root>
   <name>FormCreator</name>
   <key>formcreator</key>
   <state>stable</state>
   <logo>https://raw.githubusercontent.com/TECLIB/formcreator/master/icon.png</logo>
   <description>
      <short>
         <fr>Formcreator est un plugin permettant la création de formulaires personnalisés simples d'accès aux utilisateurs aboutissant à la création d'un ou plusieurs tickets GLPI.</fr>
         <en>Formcreator is a plugin that allow creation of custom, easy to access forms for users when they want to create one or more GLPI tickets.</en>
      </short>
      <long>
         <fr>
Formcreator est un plugin permettant la création de formulaires personnalisés simples d'accès aux utilisateurs aboutissant à la création d'un ou plusieurs tickets GLPI.

Fonctionnalités
---------------

1. Accès par menu direct en interface self-service
2. Mise en avant de formulaires en pages d'accueil
3. Accès des formulaires contrôlés : accès public, accès utilisateurs identifiés, accès restreint à certains profils
4. Des formulaires simples et personnalisables
5. Des formulaires organisés par catégories, par entités et par langues.
6. Des questions ouvertes ou fermées, de tout type de présentation : Champs textes, listes, LDAP, fichiers, etc.
7. Organisation des questions par sections. Choix de l'ordre d'affichage.
8. Possibilité de n'afficher une question que selon certains critères (réponse à une autre question)
9. Un contrôle pointu sur les réponses de formulaires : Texte, nombres, taille des champs, e-mail, champs obligatoires, expressions réguliaires, etc.
10. Création d'un ou plusieurs tickets à partir des réponses aux formulaires
11. Ajout de description par champs, par section de questions, par formulaires, par entités et langues.
12. Formatage du/des ticket(s) créé(s) : réponses aux questions à afficher, gabarits de tickets.
13. Prévisualisation du formulaire créé directement dans la configuration.
         </fr>
         <en>
Formcreator is a plugin that allow creation of custom, easy to access forms for users when they want to create one or more GLPI tickets.

Features
--------
1. Direct access to forms self-service interface in main menu
2. Highlighting forms in homepages
3. Access to forms controlled: public access, identified user access, restricted access to some profiles
4. Simple and customizable forms
5. Forms organized by categories, entities and languages.
6. Questions of any type of presentation: Textareas, lists, LDAP, files, etc.
7. Questions organised in sections. Choice of the display order.
8. Possibility to display a question based on certain criteria (response to a further question)
9. A sharp control on responses from forms: text, numbers, size of fields, email, mandatory fields, regular expressions, etc.
10. Creation of one or more tickets from form answers
11. Adding a description per fields, per sections, per forms, entities or languages.
12. Formatting the ticket set: answers to questions displayed, tickets templates.
13. Preview form created directly in the configuration.
         </en>
      </long>
   </description>
   <homepage>https://github.com/TECLIB/formcreator</homepage>
   <download>https://github.com/TECLIB/formcreator/releases</download>
   <issues>https://github.com/TECLIB/formcreator/issues</issues>
   <readme>https://github.com/TECLIB/formcreator/blob/master/README.md</readme>
   <authors>
      <author>Jérémy Moreau</author>
      <author>TECLIB'</author>
   </authors>
   <versions>
      <version>
         <num>0.84-2.0</num>
         <compatibility>0.84</compatibility>
      </version>
      <version>
         <num>0.84-2.0.1</num>
         <compatibility>0.84</compatibility>
      </version>
      <version>
         <num>0.84-2.1</num>
         <compatibility>0.84</compatibility>
      </version>
      <version>
         <num>0.84-2.1.1</num>
         <compatibility>0.84</compatibility>
      </version>
      <version>
         <num>0.84-2.1.2</num>
         <compatibility>0.84</compatibility>
      </version>
      <version>
         <num>0.84-2.1.3</num>
         <compatibility>0.84</compatibility>
      </version>
      <version>
         <num>0.84-2.1.4</num>
         <compatibility>0.84</compatibility>
      </version>
      <version>
         <num>0.85-1.0</num>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>0.85-1.1</num>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>0.85-1.2</num>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>0.85-1.2.1</num>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>0.85-1.2.2</num>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>0.85-1.2.3</num>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>0.85-1.2.4</num>
         <compatibility>0.85</compatibility>
      </version>
      <version>
         <num>0.90-1.2.5</num>
         <compatibility>0.85</compatibility>
         <compatibility>0.90</compatibility>
      </version>
      <version>
         <num>0.90-1.3</num>
         <compatibility>0.85</compatibility>
         <compatibility>0.90</compatibility>
      </version>
      <version>
         <num>0.90-1.3.1</num>
         <compatibility>0.85</compatibility>
         <compatibility>0.90</compatibility>
      </version>
      <version>
         <num>0.90-1.3.2</num>
         <compatibility>0.85</compatibility>
         <compatibility>0.90</compatibility>
      </version>
      <version>
         <num>0.90-1.3.3</num>
         <compatibility>0.90</compatibility>
      </version>
   </versions>
   <langs>
      <lang>cz_CZ</lang>
      <lang>es_AR</lang>
      <lang>en_GB</lang>
      <lang>es_MX</lang>
      <lang>fr_FR</lang>
      <lang>hu_HU</lang>
      <lang>pl_PL</lang>
      <lang>pt_BR</lang>
      <lang>ro_RO</lang>
      <lang>ru_RU</lang>
      <lang>tr_TR</lang>
   </langs>
   <license>GPL v2+</license>
   <tags>
      <fr>
         <tag>helpdesk</tag>
         <tag>données</tag>
         <tag>configuration</tag>
         <tag>formulaire</tag>
      </fr>
      <en>
         <tag>helpdesk</tag>
         <tag>data</tag>
         <tag>setup</tag>
         <tag>forms</tag>
      </en>
   </tags>
   <screenshots>
      <screenshot>https://raw.githubusercontent.com/TECLIB/formcreator/master/screenshot.png</screenshot>
   </screenshots>
</root>
