.fix_tab_height {
    margin: 0 auto -2px;
}

#viewValues p {
    margin: 3px 0;
}

.h1 {
    font-size: 16px;
    margin-bottom: 5px;
}

.h6 {
    font-size: 12px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.ds_box {
    background-color: #FFF;
    border: 1px solid #000;
    position: absolute;
    z-index: 32767;
}

.ds_tbl {
    background-color: #FFF;
}

.ds_head {
    background-color: #333;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}

.ds_subhead {
    background-color: #CCC;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 32px;
}

.ds_cell {
    background-color: #EEE;
    color: #000;
    font-size: 13px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    cursor: pointer;
}

.ds_cell:hover {
    background-color: #F3F3F3;
}

ul#suggestsList{
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    background-color: #FFFFFF;
    list-style: none;
    font-size: 90%;
}
ul#suggestsList li{
    border: 1px solid #CFCFCF;
}
ul#suggestsList li:hover, ul#suggestsList li#selectedSuggest{
    background-color: #CFCFCF;
}
ul#suggestsList li a{
    display: block;
    color: black;
    text-decoration: none;
    cursor: pointer;
}