{% import "components/form/fields_macros.html.twig" as fields %}

<div class='firstbloc'>
    <form name="form" action="{{ "Profile"|itemtype_form_path }}" method="POST">
        <input type="hidden" name="id" value="{{ profile.fields['id'] }}">
        <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}">

        {% set rnd = profile.displayRightsChoiceMatrix(rights, {
            'canedit': can_edit,
            'title': __("Forms administration", "formcreator"),
        }) %}

        {% if can_edit %}
            <button type="submit" class="btn btn-primary mx-1" name="update" value="1">
                <i class="ti ti-device-floppy"></i>
                <span>{{ _x('button', 'Save') }}</span>
            </button>
        {% endif %}
    </form>
</div>
