$white: #fff;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 72px;
}

code {
  white-space: pre;
}

hr {
  margin: 20px 0;
}

img {
  max-width: 100%;
}

.full-width-div {
  margin-left: -10%;
  width: 120%;
}

.jumbotron {

  &.theme-dark {
    h3 {
      padding-top: 0;
    }
  }

  &.theme-default {
    background-color: $white;
  }
}

.article-howtos {
  margin-left: 40px;
}
