@charset "UTF-8";
/**
 * ---------------------------------------------------------------------
 * Formcreator is a plugin which allows creation of custom forms of
 * easy access.
 * ---------------------------------------------------------------------
 * LICENSE
 *
 * This file is part of Formcreator.
 *
 * Formcreator is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * Formcreator is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Formcreator. If not, see <http://www.gnu.org/licenses/>.
 * ---------------------------------------------------------------------
 * @copyright Copyright © 2011 - 2021 Teclib'
 * @license   http://www.gnu.org/licenses/gpl.txt GPLv3+
 * @link      https://github.com/pluginsGLPI/formcreator/
 * @link      https://pluginsglpi.github.io/formcreator/
 * @link      http://plugins.glpi-project.org/#/plugin/formcreator
 * ---------------------------------------------------------------------
 */
html, body {
  height: 100%;
}
@-moz-keyframes ripple {
  0%, 100% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
}
@-webkit-keyframes ripple {
  0%, 100% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
}
@keyframes ripple {
  0%, 100% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
a.submit_button, input.submit_button {
  display: inline-block;
  min-width: 150px !important;
  height: 21px !important;
  line-height: 21px !important;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  cursor: pointer;
  height: auto;
  font: bold 12px Arial, Helvetica;
  color: #8f5a0a;
  background-color: #ffb94b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
  background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
  background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
  background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
  background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
  background-image: linear-gradient(top, #fddb6f, #ffb94b);
  white-space: nowrap;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fddb6f, endColorstr=#ffb94b);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fddb6f, endColorstr=#ffb94b)";
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  border-width: 1px;
  border-style: solid;
  border-color: #d69e31 #e3a037 #d5982d #e3a037;
}
input.submit_button {
  min-width: 152px !important;
  height: 23px !important;
  line-height: 23px !important;
}
input.submit_button[disabled] {
  color: #AAA;
  background-color: #EEE;
  border-color: #AAA;
  font-weight: normal;
  background-image: initial;
  cursor: default;
  filter: none;
  ms-filter: none;
}
input.submit_button:focus {
  color: #573706;
  border-color: #a57a26 #a67528 #a67623 #a67528;
  background-color: #ffaf30;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcd35), to(#ffaf30));
  background-image: -webkit-linear-gradient(top, #ffcd35, #ffaf30);
  background-image: -moz-linear-gradient(top, #ffcd35, #ffaf30);
  background-image: -ms-linear-gradient(top, #ffcd35, #ffaf30);
  background-image: -o-linear-gradient(top, #ffcd35, #ffaf30);
  background-image: linear-gradient(top, #ffcd35, #ffaf30);
  box-shadow: 0 0 10px #e9af66;
}
.line0 {
  background-color: #F0F0F0;
}
.line1 {
  background-color: #E7E7E7;
}
.line0:hover, .line1:hover {
  background-color: #FFF;
}
/*
 * Form designer
 */
/* Sections */
#plugin_formcreator_form.plugin_formcreator_form_design > ol {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}
#plugin_formcreator_form.plugin_formcreator_form_design > ol > .plugin_formcreator_section {
  line-height: 32px;
  background: #CCC;
  padding-bottom: 1px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#plugin_formcreator_form.plugin_formcreator_form_design > ol > .plugin_formcreator_section > a {
  font-size: larger;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  margin: 5px 0 0 5px;
}
#plugin_formcreator_form.plugin_formcreator_form_design > ol > .plugin_formcreator_section:not(:first-of-type) {
  margin-top: 20px;
}
#plugin_formcreator_form.plugin_formcreator_form_design > ol > .plugin_formcreator_section.not-sortable > a {
  padding-left: 15px;
}
/* questions */
#plugin_formcreator_form.plugin_formcreator_form_design {
  /* actions on sections or questions */
}
#plugin_formcreator_form.plugin_formcreator_form_design .grid-stack {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
  position: relative;
  min-height: 32px;
  flex: 1 0 100%;
}
#plugin_formcreator_form.plugin_formcreator_form_design .grid-stack-item {
  line-height: 32px;
}
#plugin_formcreator_form.plugin_formcreator_form_design .grid-stack-item .grid-stack-item-content {
  text-align: left;
  padding-left: 16px;
  padding-right: 10px;
  margin: 0 2px;
  background: #F0F0F0;
  display: flex;
  align-items: center;
}
#plugin_formcreator_form.plugin_formcreator_form_design .grid-stack-item .grid-stack-item-content a[data-field=name] {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#plugin_formcreator_form.plugin_formcreator_form_design .grid-stack-item.ui-draggable-dragging {
  z-index: 100;
}
#plugin_formcreator_form.plugin_formcreator_form_design .grid-stack > .grid-stack-item > .ui-resizable-se {
  right: 3px;
  bottom: 1px;
  background-image: url("../pics/corner-handle.png");
  transform: inherit;
  width: 16px;
  height: 16px;
}
#plugin_formcreator_form.plugin_formcreator_form_design .plugin_formcreator_question {
  background: #F0F0F0;
  margin: 5px 2px;
  padding-left: 15px;
  flex: 1;
}
#plugin_formcreator_form.plugin_formcreator_form_design .form_control {
  min-width: 20px;
  min-height: 1px;
  font-size: larger;
}
#plugin_formcreator_form.plugin_formcreator_form_design .form_control > i {
  display: table-cell;
  vertical-align: middle;
  height: 32px;
}
.form_section .grid-stack .grid-stack-item .grid-stack-item-content, .form_section .grid-stack .grid-stack-item .placeholder-content {
  left: 0;
  right: 0;
}
/*
 * Translations
 */
.plugin_formcreator_filter_translations {
  position: absolute;
  right: 3%;
  top: 10px;
}
.plugin_formcreator_filter_translations input {
  padding-left: 20px !important;
  width: 200px;
  height: 28px;
}
/*
* Form Render
*/
#plugin_formcreator_form.plugin_formcreator_form > ol {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}
#plugin_formcreator_form.plugin_formcreator_form [data-itemtype = "PluginFormcreatorQuestion"]:not([hidden]), #plugin_formcreator_form.plugin_formcreator_form .plugin_formcreator_gap {
  vertical-align: top;
  display: inline-block;
}
form#plugin_formcreator_form {
  max-width: 950px;
  margin: 10px auto 50px !important;
  display: block;
  position: relative;
  line-height: 1.4em;
}
.form_answer h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
  margin: 0 0 15px;
}
#plugin_formcreator_form > h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
  margin: 0 0 15px;
}
#plugin_formcreator_form > .form_header {
  padding: 10px 15px;
}
/*
 * Validation header
 */
#plugin_formcreator_form > .refused_header, #plugin_formcreator_form .accepted_header {
  padding: 10px 15px;
  background: #EED0D0;
  /*#EEE;*/
  border-radius: 4px;
  box-shadow: 2px 2px 2px #CCC;
  margin: 0 0 10px;
}
#plugin_formcreator_form > .refused_header > div, #plugin_formcreator_form .accepted_header > div {
  padding: 3px 10px;
  border-left: 5px solid #A00;
  color: #C00;
  font-style: italic;
  font-weight: bold;
  margin: 0 4px;
}
#plugin_formcreator_form > .accepted_header {
  background: #C0DDC0;
  /*#EEE;*/
}
#plugin_formcreator_form > .accepted_header > div {
  border-left: 5px solid #060;
  color: #060;
}
#plugin_formcreator_form > .form_header {
  background: #EEE;
  /*box-shadow: 2px 2px 2px #CCC;*/
  margin: 0 0 10px;
}
#plugin_formcreator_form > .form_header > h1 {
  font-size: 1.2em;
  margin: 0 0 10px;
}
#plugin_formcreator_form [data-itemtype = "PluginFormcreatorSection"] {
  background: #EEE;
  /*box-shadow: 2px 2px 2px #CCC;*/
  margin: 0 0 10px;
}
#plugin_formcreator_form [data-itemtype = "PluginFormcreatorSection"] > h2 {
  background: #1B2F62;
  color: #FFF;
  margin: 0 0 10px;
  padding: 5px 10px;
  border-bottom: 1px solid #FFF;
  box-shadow: 2px 2px 2px #CCC;
  text-align: center;
  line-height: 24px;
}
#plugin_formcreator_form .form-group {
  padding: 5px 15px;
}
#plugin_formcreator_form .form-group > label {
  display: block;
  font-size: 1.2em;
  line-height: 32px;
  font-weight: bold;
}
#plugin_formcreator_form .form-group:after {
  content: '';
  display: block;
}
#plugin_formcreator_form .form-group .form_field > input[type="file"] {
  height: 32px;
}
#plugin_formcreator_form .form-group .form_field {
  text-align: justify;
  word-wrap: break-word;
}
.form_field ul {
  list-style: initial;
  margin: initial;
  padding: initial;
  padding-left: 40px;
}
#plugin_formcreator_form .form-group .form_field .select2-container {
  width: 100% !important;
}
#plugin_formcreator_form .description_field {
  border-left: 4px solid #999;
  margin: 10px 15px;
  word-wrap: break-word;
}
#plugin_formcreator_form .form-group .form_field > input, #plugin_formcreator_form textarea, #plugin_formcreator_form select, #plugin_formcreator_form .form-group .form_field input.hasDatepicker {
  background: #FFF;
  border-radius: 3px;
  line-height: 18px;
  min-height: 24px;
  height: 32px;
  padding: 1px 10px;
  margin: 0;
  width: 100%;
  color: #333;
  font-size: 1.1em;
  box-sizing: border-box;
}
#plugin_formcreator_form .form-group .form_field input.hasDatepicker {
  width: 125px;
}
#plugin_formcreator_form .form-group img {
  vertical-align: middle;
  margin: 4px;
}
#plugin_formcreator_form .select2-container .select2-choice {
  height: 24px;
  line-height: 24px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 637px;
  max-width: 637px;
}
#bloc > #plugin_formcreator_form .select2-container .select2-choice {
  width: 395px;
}
#plugin_formcreator_form .select2-container .select2-choice > .select2-chosen {
  margin: 1px 0;
  line-height: 24px;
  color: #333;
  font-size: 1.1em;
}
.select2-container .select2-choice .select2-arrow b {
  margin-top: 3px;
}
#plugin_formcreator_form textarea:focus, #plugin_formcreator_form select:focus, #plugin_formcreator_form .form-group .form_field > input:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#plugin_formcreator_form input[type = checkbox]:focus + label, #plugin_formcreator_form input[type = radio].new_radio:focus + label, #plugin_formcreator_form input[type = file]:focus {
  color: #66afe9;
  color: #66afe9;
  border-bottom: #66afe9 dotted 1px !important;
  border-bottom: rgba(102, 175, 233, 0.8) dotted 1px !important;
}
#plugin_formcreator_form textarea {
  min-height: 105px;
}
#plugin_formcreator_form div.checkbox {
  padding: 5px 0;
}
#plugin_formcreator_form div.checkbox label {
  cursor: pointer;
}
#plugin_formcreator_form div.checkbox .form-group-checkbox {
  margin-right: 4px;
}
#plugin_formcreator_form div.checkbox .label-checkbox .box {
  background-color: #FFF;
  border: 2px solid #727272;
}
.plugin_formcreator_form div.radio {
  padding: 3.7px 0;
}
.plugin_formcreator_form div.radio label {
  cursor: pointer;
}
.radios .form-group-radio {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.radios .form-group-radio + label {
  margin-left: 7px;
}
input[type = radio].new_radio {
  display: none;
}
.label-radio .radio {
  padding: 2px 0;
}
input[type = radio].new_radio + label.label-radio span {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
}
input[type = radio].new_radio + label.label-radio .box {
  background-color: #fff;
  border: 2px solid #727272;
  border-radius: 50%;
}
input[type = radio].new_radio + label.label-radio .check {
  left: 4px;
  top: 4px;
  width: 0px;
  height: 0px;
  opacity: 0;
}
input[type = radio].new_radio:checked + label.label-radio .check {
  border: 6px solid #727272;
  border-radius: 50%;
  transition: opacity 0.3s ease;
  opacity: 1;
}
#plugin_formcreator_form .select2-container-multi .select2-choices {
  width: 650px;
  min-height: 24px;
  background: #FFF;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #999;
  border-radius: 3px;
  box-sizing: border-box;
}
.select2-drop {
  max-width: 650px;
}
#bloc > #plugin_formcreator_form .select2-container-multi .select2-choices {
  width: 415px;
}
#plugin_formcreator_form .form-group option {
  background: none;
  border: none;
}
#plugin_formcreator_form .form-group .form_field > input[type = file] {
  background: none;
  border: none;
  box-shadow: none;
  width: auto;
}
#plugin_formcreator_form .form-group > .help-block {
  font-size: 0.8em;
  color: #333;
  padding: 3px 0;
}
#plugin_formcreator_form .form-group > .help-block p {
  margin: 0;
  padding: 3px 0;
}
#bloc > #plugin_formcreator_form select {
  width: 567px;
}
#footer-login {
  position: relative !important;
  height: 30px;
  margin: 0 15px 0 0;
}
#plugin_formcreator_form .liste input[type = text] {
  width: 100px;
}
#plugin_formcreator_form .liste span > select {
  width: 534px;
}
#bloc > #plugin_formcreator_form .liste input[type = text] {
  width: 60px;
}
#bloc > #plugin_formcreator_form .liste select {
  width: 330px;
}
.form_description {
  display: none;
}
.form_description div {
  padding: 10px;
  background-color: #FFF;
  border-left: 5px solid #AAA;
  color: #333;
  font-style: italic;
  margin: 0 4px;
}
/*
* Spinner
*/
.plugin_formcreator_spinner {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 48px;
}
/* CONDITIONS */
.div_show_condition_field, .div_show_condition_operator, .div_show_condition_value, .div_show_condition_logic, .div_show_condition_add, .div_show_condition_remove {
  display: inline-block;
}
.div_show_condition_field .select2-container, .div_show_condition_operator .select2-container, .div_show_condition_logic .select2-container {
  width: 95% !important;
  margin: 5px 0 0 !important;
}
.div_show_condition_value input {
  width: 90% !important;
  margin: 5px 0 0 5px !important;
  padding: 2px 5px !important;
}
.div_show_condition_field {
  width: 300px !important;
}
.div_show_condition_operator {
  width: 70px !important;
}
.div_show_condition_value {
  width: 300px !important;
}
.div_show_condition_logic {
  width: 70px !important;
}
.div_show_condition_add img, .div_show_condition_remove img {
  width: 12px;
  vertical-align: middle;
}
tr[data-itemtype="PluginFormcreatorCondition"] .div_show_condition_logic {
  visibility: hidden;
}
tr[data-itemtype="PluginFormcreatorCondition"] ~ tr[data-itemtype="PluginFormcreatorCondition"] .div_show_condition_logic {
  visibility: visible;
}
.select2-container + select {
  display: none !important;
}
#footer-login {
  display: none;
}
#tag_question_value .select2-container, #tag_specific_value .select2-container {
  width: 98%;
}
#tag_question_title, #tag_specific_title {
  line-height: 31px;
}
#plugin_formcreator_wizard {
  position: relative;
}
#formcreator_servicecatalogue {
  position: absolute;
  width: 100%;
  margin-top: 10px;
}
#formcreator_servicecatalogue_ticket_summary {
  margin: 5px 60px 0 5px;
  height: inherit;
  position: absolute;
  z-index: 15;
  left: 150px;
  width: 260px;
  top: 10px;
  transition: 0.4s;
  height: 1rem;
}
.toggle_menu #formcreator_servicecatalogue_ticket_summary {
  left: 100px;
}
#formcreator_servicecatalogue_ticket_summary .status {
  min-width: 2.3rem;
  display: inline-block;
  margin-right: 5px;
  margin-top: -5px;
  padding: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
  vertical-align: top;
  box-sizing: border-box;
}
#formcreator_servicecatalogue_ticket_summary .status:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#formcreator_servicecatalogue_ticket_summary .status_number {
  font-size: 2em;
}
#formcreator_servicecatalogue_ticket_summary .status_label {
  font-size: 0.7em;
  display: none;
}
#formcreator_servicecatalogue_ticket_summary .status:hover .status_label {
  display: block;
  line-height: 0;
}
#formcreator_servicecatalogue_ticket_summary .status_incoming, #formcreator_servicecatalogue_ticket_summary .status_incoming a {
  color: #c8ffc8;
}
#formcreator_servicecatalogue_ticket_summary .status_waiting, #formcreator_servicecatalogue_ticket_summary .status_waiting a {
  color: #f7c976;
}
#formcreator_servicecatalogue_ticket_summary .status_validate, #formcreator_servicecatalogue_ticket_summary .status_validate a {
  color: #9B9BE9;
}
#formcreator_servicecatalogue_ticket_summary .status_solved, #formcreator_servicecatalogue_ticket_summary .status_solved a {
  color: #ffffff;
}
.plugin_formcreator_page #plugin_formcreator_wizard {
  height: calc(100vh - 28px - 65px);
}
.plugin_formcreator_marginRight {
  margin-right: 275px;
}
/* SLINKY CSS */
.slinky-menu {
  overflow: hidden;
  transform: translateZ(0);
  transition: all 300ms ease;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 300ms ease;
}
.slinky-menu > ul {
  left: 0;
  position: relative;
  transform: translateZ(0);
  transition: all 300ms ease;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 300ms ease;
}
.slinky-menu ul, .slinky-menu li {
  list-style: none;
  margin: 0;
}
.slinky-menu ul {
  width: 100%;
}
.slinky-menu a {
  display: block;
  border: none;
  padding: 1em;
  height: 16px;
}
.slinky-menu li ul {
  display: none;
  left: 100%;
  position: absolute;
  top: 0;
}
.slinky-menu .header {
  position: relative;
  background: #AAA;
}
.slinky-menu h2 ~ a.back {
  left: 0;
  position: absolute;
  top: 0;
}
.slinky-menu h2 {
  font-size: 1em;
  margin: 0;
  text-align: center;
  padding: 1em;
}
.slinky-menu a.next:after {
  content: '❯';
  margin-left: 1em;
  float: right;
}
.slinky-menu a.back:before {
  content: '❮';
  margin-right: 1em;
  float: left;
}
/* KB page and forms page*/
#plugin_formcreator_kb_categories, #plugin_formcreator_wizard_categories {
  width: 275px;
  top: 0;
  bottom: 0;
  left: 0;
  float: left;
  height: calc(100vh - 28px - 65px);
  background-color: #f8f7f3;
  border-right: 1px solid #DDD;
  position: relative;
}
#plugin_formcreator_kb_categories div > a, #plugin_formcreator_wizard_categories div > a {
  display: inline-block;
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
}
#plugin_formcreator_kb_categories .slinky-menu, #plugin_formcreator_wizard_categories .slinky-menu {
  position: absolute;
  left: 0;
  right: -1px;
}
#plugin_formcreator_kb_categories a, #plugin_formcreator_wizard_categories a {
  background-color: inherit;
  font-size: 1.2em;
}
#plugin_formcreator_kb_categories a[data-category-id]:not([data-parent-category-id="0"]), #plugin_formcreator_wizard_categories a[data-category-id]:not([data-parent-category-id="0"]) {
  margin-left: 20px;
}
#plugin_formcreator_kb_categories .category_active:not(.next), #plugin_formcreator_kb_categories .category_active ~ ul .header, #plugin_formcreator_wizard_categories .category_active:not(.next), #plugin_formcreator_wizard_categories .category_active ~ ul .header {
  border-bottom: 1px dashed #DDD;
  position: relative;
}
#plugin_formcreator_kb_categories .category_active:not(.next):after, #plugin_formcreator_kb_categories .category_active ~ ul .header:after, #plugin_formcreator_wizard_categories .category_active:not(.next):after, #plugin_formcreator_wizard_categories .category_active ~ ul .header:after {
  position: absolute;
  left: calc(100% - 45px);
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  border-right-color: #FFF;
  border-width: 23px;
  margin-top: -23px;
  z-index: 20;
}
#plugin_formcreator_kb_categories .category_active:not(.next):before, #plugin_formcreator_kb_categories .category_active ~ ul .header:before, #plugin_formcreator_wizard_categories .category_active:not(.next):before, #plugin_formcreator_wizard_categories .category_active ~ ul .header:before {
  position: absolute;
  left: calc(100% - 46px);
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  border-right-color: #DDD;
  border-width: 23px;
  margin-top: -23px;
  z-index: 20;
}
#plugin_formcreator_kb_categories a, #plugin_formcreator_kb_categories h2, #plugin_formcreator_wizard_categories a, #plugin_formcreator_wizard_categories h2 {
  font-size: 1.2em;
}
#plugin_formcreator_kb_categories h2, #plugin_formcreator_wizard_categories h2 {
  padding: 0.83em 0;
  border-bottom: 1px solid #DDD;
  margin: 0;
  padding: 14px;
  color: #000;
}
#plugin_formcreator_kb_categories .header h2, #plugin_formcreator_wizard_categories .header h2 {
  text-align: left;
}
#plugin_formcreator_kb_categories .header .back, #plugin_formcreator_wizard_categories .header .back {
  right: 20px;
  color: #000;
  left: inherit;
}
#plugin_formcreator_kb_categories li, #plugin_formcreator_wizard_categories li {
  background-color: inherit;
}
.plugin_formcreator_card {
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.plugin_formcreator_card::after {
  content: "";
  display: block;
  clear: both;
}
#plugin_formcreator_formlist {
  margin-top: 10px;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.plugin_formcreator_formTile {
  margin: 0 3px 6px 3px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0;
  box-sizing: border-box;
  animation-name: fadeInUp;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}
.plugin_formcreator_formTile:hover {
  background-color: #EEEEEE;
}
.plugin_formcreator_formTile.default_form {
  background-color: #CCC;
}
a.plugin_formcreator_formTile_title {
  font-size: 1.1em;
  padding: 10px 40px 15px 10px;
  display: block;
}
.plugin_formcreator_formTile:hover a.plugin_formcreator_formTile_title {
  cursor: pointer;
}
.plugin_formcreator_formTile i.fa, .plugin_formcreator_formTile i.fab, .plugin_formcreator_formTile i.fas {
  font-size: 2.5em;
  margin-right: 10px;
  float: left;
  margin: 10px;
}
.plugin_formcreator_formTile_description {
  padding: 0 15px 5px 15px;
}
.plugin_formcreator_formTile div:first-child {
  color: #F00;
  float: right;
  margin: 0 5px;
}
#plugin_formcreator_lastForms {
  width: 265px;
  position: absolute;
  right: 0;
  top: 0;
}
#plugin_formcreator_lastForms > div {
  margin-bottom: 10px;
}
#plugin_formcreator_wizard_right {
  min-width: 116px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0 3px 23px;
  margin: -10px 0 -3px -23px;
  background-color: #FFFFFF;
  margin-left: 300px;
}
#plugin_formcreator_wizard_forms {
  clear: both;
}
#plugin_formcreator_wizard_forms > div {
  text-align: center;
}
#plugin_formcreator_header {
  margin: 20px 25px 10px 6px;
}
#plugin_formcreator_searchBar {
  position: relative;
  margin: 20px 25px 20px 6px;
  padding: 10px 0 10px 0;
  box-sizing: border-box;
}
#plugin_formcreator_searchBar input {
  width: 100%;
  font-size: 1.4em;
  padding: 10px 0 10px 10px;
  box-sizing: border-box;
  height: 40px;
  border: 0;
  border-radius: 0;
  background-color: inherit;
  border: 1px solid #C2C2C2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: #F8F8F8;
}
#plugin_formcreator_searchBar input ~ label {
  position: absolute;
  float: left;
  display: block;
  top: 34%;
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s;
  cursor: text;
}
#plugin_formcreator_searchBar input:focus ~ label {
  color: #3874BC;
  top: 50%;
  font-size: 1em;
}
#plugin_formcreator_search_input_bar {
  position: relative;
  display: block;
  width: 100%;
}
#plugin_formcreator_search_input_bar:before, #plugin_formcreator_search_input_bar:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  transition: 0.2s ease all;
  background-color: #3874BC;
}
#plugin_formcreator_search_input_bar:before {
  left: 50%;
}
#plugin_formcreator_search_input_bar:after {
  right: 50%;
}
#plugin_formcreator_searchBar input:focus ~ #plugin_formcreator_search_input_bar:before, #plugin_formcreator_searchBar input:focus ~ #plugin_formcreator_search_input_bar:after {
  width: 50%;
}
#plugin_formcreator_searchBar input:valid ~ label {
  left: -9999px;
}
#plugin_formcreator_searchBar:after {
  width: 16px;
  height: 16px;
  content: '';
  display: inline-block;
  background-image: url("../pics/search.png");
  position: absolute;
  top: 23%;
  right: 10px;
}
#plugin_formcreator_lastForms .plugin_formcreator_card .plugin_formcreator_answer {
  margin: 3px;
  list-style: none;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#plugin_formcreator_lastForms .plugin_formcreator_card .plugin_formcreator_answer a {
  margin: 3px;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 11px 11px 11px 20px;
}
#plugin_formcreator_lastForms .plugin_formcreator_card .plugin_formcreator_waiting {
  background-image: url("../pics/waiting.png");
}
#plugin_formcreator_lastForms .plugin_formcreator_card .plugin_formcreator_refused {
  background-image: url("../pics/refused.png");
}
#plugin_formcreator_lastForms .plugin_formcreator_card .plugin_formcreator_accepted {
  background-image: url("../pics/accepted.png");
}
#plugin_formcreator_lastForms .plugin_formcreator_card > div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 11px;
}
.plugin_formcreator_date {
  display: block;
  text-align: right;
  font-size: 0.8em;
  font-style: italic;
}
.plugin_formcreator_heading {
  font-weight: bold;
}
.plugin_formcreator_sort:hover {
  opacity: 1;
  color: #3874BC;
}
.plugin_formcreator_sort:hover .radios input[type = radio].new_radio + label:before {
  background-color: #3874BC;
  border: 2px solid #3874BC;
}
.plugin_formcreator_sort {
  float: left;
  opacity: 0.4;
}
.plugin_formcreator_sort input {
  display: inline-block;
  text-align: left;
  margin: 0 20px;
}
.plugin_formcreator_sort .radios input[type = radio].new_radio + label {
  display: inline-block;
  margin-right: 10px;
}
#plugin_formcreator_serviceCatalog #header_top {
  height: 45px;
  line-height: 45px;
  position: relative;
  z-index: 10;
}
.formcreator_header_top#header_top {
  margin-left: 300px;
  width: calc(100vw - 300px);
  text-align: right;
  color: #FFF;
  z-index: 50;
  transition: 0.3s;
}
.formcreator-nav-button {
  z-index: 1;
  height: 1.5rem;
  width: 1.8rem;
  background-color: transparent;
  background-image: linear-gradient(to right, #FFF, #FFF), linear-gradient(to right, #FFF, #FFF), linear-gradient(to right, #FFF, #FFF);
  background-position: center top, center, center bottom;
  background-repeat: no-repeat;
  background-size: 3.5rem 0.3rem;
  padding: 0;
  outline: 0;
  border: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#formcreator-toggle-nav-desktop ~ .formcreator-nav-button {
  margin: 10px 0 0 10px;
  position: absolute;
  left: 100px;
  top: 15px;
  z-index: 15;
  transition: 0.4s;
}
.toggle_menu #formcreator-toggle-nav-desktop ~ .formcreator-nav-button {
  left: 50px;
}
#formcreator-toggle-nav-desktop, #formcreator-toggle-nav-responsive, #formcreator-toggle-nav-responsive ~ .formcreator-nav-button {
  display: none;
}
#c_menu li label {
  display: inline-block;
}
.toggle_menu #c_menu li span.label {
  display: none;
}
.toggle_menu .plugin_formcreator_leftHeader#header .plugin_formcreator_leftMenu {
  width: 53px;
}
.toggle_menu #c_menu .plugin_formcreator_selectedMenuItem:after {
  border: 0;
  top: 50%;
  left: initial;
  right: 0;
  width: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 48px;
}
.toggle_menu #page.plugin_formcreator_page {
  width: calc(100% - 53px);
  margin-left: 53px;
}
.toggle_menu .formcreator_header_top#header_top {
  margin-left: 53px;
  width: calc(100vw - 53px);
}
#plugin_formcreator_serviceCatalog #footer {
  clear: both;
  position: fixed;
  bottom: 0;
  width: calc(100% - 10px);
}
.plugin_formcreator_leftHeader#header .plugin_formcreator_leftMenu {
  width: 300px;
  padding-left: 0;
  /* Overrides CSS from GLPi */
  padding-top: 20px;
  height: 100%;
  position: relative;
  text-align: left;
  transition: 0.3s;
}
.plugin_formcreator_services li {
  padding: 5px 0 5px 13px;
  width: 100%;
  line-height: 38px;
  box-sizing: border-box;
  clear: left;
}
.plugin_formcreator_leftMenu .plugin_formcreator_services li a {
  font-size: 1.2em;
}
.plugin_formcreator_leftMenu .plugin_formcreator_selectedMenuItem {
  background-repeat: no-repeat;
  background-position: top right;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}
.plugin_formcreator_leftMenu .plugin_formcreator_selectedMenuItem:after {
  position: absolute;
  left: calc(100% - 48px);
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  border-right-color: #f8f7f3;
  border-width: 24px;
  margin-top: -24px;
  z-index: 20;
}
#c_menu.plugin_formcreator_leftMenu li a {
  color: #FFF;
}
.plugin_formcreator_leftHeader a, .plugin_formcreator_myname {
  color: #FFF;
  height: 35px;
  line-height: 35px;
}
.plugin_formcreator_threadBrowser {
  margin: 5px;
  border-top: 1px dashed #3C5874;
}
.plugin_formcreator_threadBrowser > div {
  text-align: center;
}
.plugin_formcreator_first, .plugin_formcreator_left {
  float: left;
  width: 16px;
  margin: 10px 0;
}
.plugin_formcreator_right, .plugin_formcreator_last {
  float: right;
  width: 16px;
  margin: 10px 0;
}
span.fc_list_icon {
  width: 42px;
  height: 48px;
  vertical-align: middle;
  font-size: 1.7em;
  color: #FFFFFF;
  float: left;
  padding-top: 5px;
  box-sizing: border-box;
}
.plugin_formcreator_entityProfile {
  float: right;
  width: 190px;
  height: 40px;
}
.plugin_formcreator_entityProfile > li {
  line-height: normal;
  top: 20%;
}
.plugin_formcreator_entityProfile .select2-container {
  margin-top: 12px;
  width: inherit !important;
}
.plugin_formcreator_entityProfile .select2-container, .plugin_formcreator_entityProfile .entity_select {
  color: #FFF;
  margin: 0 10px 0 0;
  white-space: nowrap;
}
.plugin_formcreator_leftMenu .plugin_formcreator_leftMenuItem_separator {
  margin-bottom: 0;
}
.plugin_formcreator_leftMenuEnd {
  clear: both;
}
#plugin_formcreator_avatar {
  border: 2px inset white;
  border-radius: 50%;
  padding: 2px;
  float: right;
  width: 40px;
  height: 40px;
}
#plugin_formcreator_avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.plugin_formcreator_userMenuCell {
  display: block;
  position: absolute;
  z-index: 1000;
  right: 5px;
}
.plugin_formcreator_userMenu_icons {
  float: right;
  margin: 12px 8px 0 8px;
}
.plugin_formcreator_userMenu_icons > li {
  padding: 2px 4px;
  display: inline-block;
  font-size: 1.8em;
}
.plugin_formcreator_userMenu_icons .button-icon {
  opacity: 0.6;
}
.plugin_formcreator_userMenu_icons .button-icon:hover {
  opacity: 1;
}
#plugin_formcreator_preferences_icon a, #plugin_formcreator_logoutIcon a {
  display: inline-block;
  width: 22px;
}
#plugin_formcreator_preferences_icon a, #plugin_formcreator_logoutIcon a {
  color: white;
}
#c_menu #myname {
  display: inline-block;
  color: #FFF;
  margin: 0 !important;
  height: 40px;
}
#page.plugin_formcreator_page {
  margin: 0 0 0 300px;
  padding: 0;
  max-height: 100%;
  top: 0;
  overflow-y: auto;
  height: calc(100% - 28px - 65px);
  min-height: 0;
  width: calc(100% - 300px);
  z-index: 0;
  position: relative;
  transition: 0.3s;
}
#page.plugin_formcreator_container {
  margin-top: -40px;
  padding-top: 40px;
}
.plugin_formcreator_container {
  vertical-align: top;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 20px;
}
.plugin_formcreator_container .plugin_formcreator_leftHeader#header {
  float: left;
  height: 100%;
  position: relative;
}
.plugin_formcreator_page .navigationheader .tab_cadre_pager {
  width: auto;
}
#searchcriterias {
  padding-top: 5px;
}
#page .tab_cadre_pager {
  width: auto;
}
.tab_cadre_pager, .navigationheader {
  margin-top: 0;
  padding-top: 15px;
}
.section_row, .section_row th {
  background-color: #CCC;
}
.form_header ul {
  list-style-type: disc;
  margin: inherit;
  padding: inherit;
  padding-left: 40px;
}
.form_section ul {
  list-style-type: disc;
  margin: inherit;
  padding: inherit;
  padding-left: 40px;
}
.form_header ul ul, .form_header ol ul, .form_section ul ul, .form_section ol ul {
  list-style-type: circle;
}
/* Active / inactive light for forms */
.plugin-forcreator-active {
  cursor: pointer;
  color: #009933;
}
.plugin-forcreator-inactive {
  cursor: pointer;
  color: #a0a0a0;
}
.plugin_formcreator_cancel_my_ticket {
  background: #fec95c;
}
/* Count of conditions in design view */
.plugin_formcreator_conditions_count {
  border-radius: 50%;
  background-color: #FFF;
  min-width: 18px;
  height: 18px;
  text-align: center;
  vertical-align: middle;
  padding: 4px;
  margin-right: 5px;
}
.status .status_number .fas.fa-spinner {
  color: #fff;
}
/* ################--------------- Responsive  ---------------#################### */
@media screen and (max-width: 700px) {
  form#plugin_formcreator_form {
    width: 100%;
  }
  #plugin_formcreator_form .form-group > label, #plugin_formcreator_form .form-group .form_field, #plugin_formcreator_form .form-group .form_field > input, #plugin_formcreator_form textarea, #plugin_formcreator_form select {
    width: 100%;
  }
  #plugin_formcreator_form .form-group .form_field input.hasDatepicker {
    width: 88%;
  }
  #plugin_formcreator_form .select2-container .select2-choice, #plugin_formcreator_form .select2-container-multi .select2-choices {
    width: 96%;
  }
  #plugin_formcreator_lastForms {
    position: static;
    width: 100%;
  }
  .plugin_formcreator_marginRight {
    margin-right: 0;
  }
  .plugin_formcreator_container .plugin_formcreator_leftHeader#header {
    width: 100%;
    height: 70px;
    position: relative;
  }
  .formcreator_header_top#header_top {
    display: none;
    opacity: 0;
    animation: fadeOut 0.3s;
    background-color: transparent;
    text-align: left;
  }
  #header_top .plugin_formcreator_entityProfile .profile-selector {
    max-width: none;
    padding: 0 !important;
  }
  .toggle_menu #c_menu li label {
    display: inline-block;
  }
  #formcreator_servicecatalogue_ticket_summary {
    width: 100%;
    display: block;
  }
  .plugin_formcreator_container #footer {
    display: none;
  }
  #formcreator-toggle-nav-desktop ~ .formcreator-nav-button {
    display: none;
  }
  #formcreator-toggle-nav-responsive ~ .formcreator-nav-button {
    display: inline-block;
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    z-index: 2000;
  }
  #formcreator-toggle-nav-responsive:checked ~ #header #c_menu {
    transform: translateY(0);
  }
  #formcreator-toggle-nav-responsive:checked ~ #header .plugin_formcreator_services {
    margin-top: 120px;
  }
  #formcreator-toggle-nav-responsive:checked ~ #header_top.formcreator_header_top {
    display: block;
    position: fixed;
    z-index: 2000;
    width: 100%;
    left: 0;
    top: 70px;
    margin: 0;
    opacity: 1;
    animation: fadeInd 0.3s;
  }
  #myname.plugin_formcreator_myname {
    margin: 0 85px 0 105px;
    width: calc(100% - 190px);
  }
  .plugin_formcreator_userMenu_icons li {
    padding: 0;
  }
  #searchcriterias .tab_cadre_fixe td {
    padding: 5px 0;
  }
  .plugin_formcreator_container .plugin_formcreator_leftHeader#header #c_menu {
    position: absolute;
    transform: translateY(-100%) translateZ(0);
    transition: transform 0.2s;
    will-change: transform;
    width: 100%;
    height: 90vh;
  }
  #page.plugin_formcreator_page {
    margin: 0;
    width: 100%;
    margin-top: 60px;
    min-height: calc(100% - 100px);
    overflow-x: hidden;
  }
  .toggle_menu #page.plugin_formcreator_page {
    width: 100%;
    margin-left: 0;
  }
  .plugin_formcreator_page #formcreator_servicecatalogue {
    width: 100%;
  }
  #formcreator_servicecatalogue_ticket_summary {
    left: 100px;
  }
  #plugin_formcreator_wizard_categories {
    height: inherit;
    width: 100%;
    position: initial;
    float: none;
    min-height: initial;
  }
  #plugin_formcreator_wizard_categories .slinky-menu {
    position: static;
  }
  .plugin_formcreator_page #plugin_formcreator_wizard {
    width: 100%;
    height: inherit;
  }
  #plugin_formcreator_wizard_right {
    width: 94%;
    height: inherit;
    overflow: inherit;
    margin: 0;
  }
  #plugin_formcreator_serviceCatalog #footer {
    display: none;
  }
  #debug-float.plugin_formcreator_debug-float {
    z-index: 1000;
  }
}
